.service__title {
  display: flex;
  align-items: center;
}

.service__icon {
  transition: 0.3s;
}

.service__title:hover .service__icon {
  transform: translateX(0.75rem);
}

.description__container {
  animation: 0.2s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  height: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
    height: fit-content;
  }
}