@media screen and (min-width: 768px) {
	.item:nth-child(11n + 1) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.item:nth-child(8n+1) {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	.item:nth-child(10n + 3) {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.swiper-container {
	scrollbar-color: transparent transparent !important;  /* thumb and track color */
  scrollbar-width: 0px;
}

.swiper-container::-webkit-scrollbar {
  width: 0;
}

.swiper-container::-webkit-scrollbar-track {
  background: transparent;
}

.swiper-container::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.swiper-container {
  -ms-overflow-style: none;
}
