
.App {
  text-align: center;
  color: #4d6578;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 50px;

}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.text {
  font-size: smaller;
  margin: 0;
  font-weight: 300;
}

.text.link {
  text-decoration: none;
}

