@font-face {
  font-family: 'sansumiregular';
  src: url('/fonts/sansumi-regular-webfont.woff2') format('woff2'),
       url('/fonts/sansumi-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}